body {
  background-image: linear-gradient(rgb(49, 49, 49), rgb(52, 52, 52));
}

div {
  justify-content: center;
  display: flex;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 160%;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 250%;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

/*
This is to remove text decoration from visited links (hyperlinks).
If not, they appear as purple with an understroke, which ruins the layout of the page.
 */

a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
  text-decoration-color: rgb(255, 255, 255);
}

/*
--- HOMEPAGE HEADERS ---
*/

.nav-stereohut {
  display: flex;
  background-image: linear-gradient(rgb(255, 88, 66), rgb(255, 51, 51));
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(255, 53, 53);
  margin-bottom: 20px;
  border-style: solid;
  width: 100%;
  margin-bottom: 50px;
}

.logo {
  height: 43px;
  width: 400px;
}

/*
--- DROPDOWN BUTTONS ---
*/

.dropdown-info-button {
  background-color: rgb(27, 27, 27);
  padding: 10px;
  border: none;
  cursor: pointer;
  border-style: solid;
}

.dropdown-info:hover .dropdown-info-button {
  background-color: rgb(20, 20, 20);
}

.dropdown-info {
  position: absolute;
  display: inline-block;
  right: 20px;
}

.dropdown-info-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: -7.15rem;
  bottom: -8.8rem;
  z-index: 9;
}

/* 
Added some simple hover effects to the dropdown button.
*/

.dropdown-info-menu a:hover {
  background-color: #5f5f5f37;
}

.dropdown-info-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-info-content a:hover {
  background-color: #f1f1f1;
}

/* 
Positioning the dropdown menu so it doesn't go off-screen.
 */

.dropdown-info:hover .dropdown-info-menu {
  display: block;
  background-color: rgb(27, 27, 27);
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.768) 1px 0 10px;
  text-decoration-color: white;
}

.dropdown-info-text {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 120%;
  margin: 0px;
}

/* ...  */

.dropdown-products-button {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 27, 27);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 75%;
  padding-top: -90px;
  border-style: solid;
  border-color: black;
}

.dropdown-products:hover .dropdown-products-button {
  background-color: rgb(20, 20, 20);
}

.dropdown-products {
  position: absolute;
  display: inline-block;
  right: 76px;
}

.dropdown-products-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: -4.55rem;
  bottom: -11.7rem;
  z-index: 8;
}

.dropdown-products-menu a:hover {
  background-color: #5f5f5f37;
}

.dropdown-products-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-products-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-products:hover .dropdown-products-menu {
  display: block;
  background-color: rgb(27, 27, 27);
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.768) 1px 0 10px;
  text-decoration-color: white;
}

.dropdown-products-text {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 120%;
  margin: 0px;
}

/*
--- IMAGE WHEEL ---
*/

/* 
Here lays some complicated stuff. 
Some of the code is taken from CodingNepal, but it was more of a way for me to gain a deeper understanding of JavaScript.
I'm confident in saying that I have learnt how to create an image slider without using a tutorial.
*/

.div-image-wheel {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 51, 51);
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  border-color: black;
  border-style: dashed;
  font-size: 10px;
  bottom: -10px;
  position: relative;
  margin: auto;
}

.container-wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  margin-top: -10px;
  margin-bottom: 70px;
  padding: 0 10px;
  border-style: solid;
  border-radius: 5px;
}

.wrapper .carousel {
  white-space: nowrap;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
}

.carousel img {
  height: 340px;
  width: calc(100% / 3);
  object-fit: cover;
  margin-left: 18px;
}

.wrapper {
  position: relative;
  width: 100%;
}

/*
--- BROWSE SECTION ---
*/

.container-browse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 90px;
}

.item-browse {
  width: 95%;
  height: 150px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: black;
  background-color: rgb(27, 27, 27);
  box-shadow: inset 0 0 0 0 rgb(255, 51, 51);
  transition: ease-out 1s;
  font-size: 1.5rem;
  outline: none;
}

.item-browse:hover {
  box-shadow: inset 1480px 0 0 0 rgb(255, 51, 51);
  color: rgb(0, 0, 0);
  transition: ease-out 1s;
}

/*
--- TOOLTIPS ---
*/

.category-info {
  margin-left: 10px;
  padding: 0.1rem;
  border: none;
  color: black;
}

.category-info > img {
  height: 1rem;
  width: 1rem;
  border: none;
  color: white;
}

/*
[data-msg] is the popup that appears when hovering over the tooltip.
Some of this is taken from web, but adjusted to make it work in my situation.
Link unavailable due to me using numerous sources, however code wasn't directly copied.
*/


[data-msg] {
  position: relative;
  margin-left: 10px;
  background-color: white;
  border-style: solid;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  line-height: 20px;
  cursor: pointer;
}

[data-msg]:focus:before,
[data-msg]:hover::before {
  position: absolute;
  width: 100%;
  min-width: 200px;
  background-color: white;
  padding: 20px;
  content: attr(data-msg);
  left: 50%;
  transform: translate(-50%, -100%);
  top: -20px;
  border-radius: 15px;
}

[data-msg]:focus:after,
[data-msg]:hover::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 20px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/*
--- CONTACT INFORMATION (FOOTER) ---
*/

.div-footer {
  background-color: rgb(27, 27, 27);
  height: auto;
  margin-top: 35px;
  padding-bottom: 20px;
  padding-inline: 20px;
  border-style: solid;
  display: block;
  width: auto;
}

.header-footer {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 150%;
}

.text-footer {
  background-color: rgba(167, 167, 167, 0);
  margin: -2rem;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input {
  height: 20px;
}

.container-footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(73, 0, 0, 0);
  height: 300px;
}

.item-footer {
  flex-grow: 1;
  height: 170px;
  background-color: rgba(127, 255, 212, 0);
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  display: block;
  margin-top: -40px;
}

.item-footer + .item-footer {
  margin-left: 2%;
}

.payment-information {
  margin-bottom: 20px;
  margin-top: -30px;
}

.established-info {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 80%;
}

/*
--- GENRES HOMEPAGE ---
*/

.container-genres {
  background-color: rgba(22, 118, 202, 0);
  height: fit-content;
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 20px;
}

.item-genres {
  height: 200px;
  width: 100%;
  margin-bottom: 30px;
  background-color: rgb(27, 27, 27);
  color: white;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  align-items: center;
  font-size: 125%;
  column-gap: 20px;
  display: flex;
  justify-content: space-evenly;
}

.item-genres:hover {
  background-color: rgb(32, 32, 32);
}

.title-genres {
  width: 200px;
}
.subitem-genres {
  display: flex;
  width: 300px;
  background-color: rgba(127, 255, 212, 0);
  font-size: 80%;
}

.a-genres {
  width: 100%;
}

.img-genres {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: white;
}

/*
--- PRODUCTS ---
*/

.container-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(27, 27, 27);
  width: fit-content;
  max-width: 90%;
  margin: auto;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  border-style: solid;
  border-radius: 5px;
}

.item-products {
  height: 400px;
  width: 400px;
  max-width: 400px;
  margin-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgb(255, 88, 66), rgb(255, 51, 51));
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-products:nth-child(7) {
  margin-bottom: 40px;
}

.img-products {
  width: 250px;
  height: 250px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-products:hover {
  background-color: #202020;
  opacity: 0.8;
  filter: alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
  cursor: pointer;
}

.button-products {
  height: 200px;
  border-radius: 100px;
}

.button-products:hover {
  cursor: pointer;
}

/* 
--- ABOUT --- 
*/

.header-about {
  width: 80%;
  margin: auto;
  color: white;
  background-color: rgb(27, 27, 27);
  padding-right: 15px;
  padding-left: 15px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
}

.header-graph {
  width: 63%;
  margin: auto;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 51, 51);
  padding-right: 15px;
  padding-left: 15px;
  border-style: solid;
  border-color: black;
  border-radius: 100px;
  margin-bottom: 30px;
}

.container-graph {
  display: flex;
  height: 300px;
  width: 90%;
  justify-content: space-between;
  flex-direction: column;
  background-image: linear-gradient(rgb(37, 37, 37), rgb(27, 27, 27));
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  margin-bottom: 50p;
}

.item-graph-1 {
  width: 13%;
  background-color: rgb(68, 171, 255);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(160, 212, 255);
  color: white;
}

.item-graph-2 {
  width: 23%;
  background-color: rgb(123, 96, 255);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(183, 168, 255);
  color: white;
}

.item-graph-3 {
  width: 48%;
  background-color: rgb(208, 88, 255);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(231, 169, 255);
  color: white;
}

.item-graph-4 {
  width: 96%;
  background-color: rgb(255, 39, 201);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(255, 149, 228);
  color: white;
}

.graph-numbers {
  border-radius: 100px;
  border-style: solid;
  background-color: white;
  color: black;
  height: 20px;
  font-size: 70%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}

.nav-about {
  background-image: linear-gradient(rgb(255, 88, 66), rgb(255, 51, 51));
  margin-top: 60px;
  text-align: center;
  font-size: 12px;
  border-style: solid;
  margin-bottom: 60px;
}

.container-founders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(27, 27, 27);
  width: fit-content;
  max-width: 90%;
  margin: auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.item-founders {
  height: fit-content;
  width: 400px;
  max-width: 400px;
  margin-top: 40px;
  padding: 5px;
  background-color: rgb(255, 51, 51);
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: 20px;
}

.img-founders {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 
--- CONTACTS --- 
*/

.container-contacts {
  display: flex;
  background-color: rgb(27, 27, 27);
  border-style: solid;
  max-height: fit-content;
  width: 75%;
  padding: 25px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
}

.item-contacts {
  flex-grow: 1;
  max-height: fit-content;
  max-width: fit-content;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.item-contacts + .item-contacts {
  margin-left: 2%;
}

.container-contacts-img {
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  background-color: rgba(231, 169, 255, 0);
  margin-bottom: 50px;
}

.item-contacts-img {
  max-width: 400px;
  max-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.div-input-contacts {
  height: fit-content;
  width: 80%;
  align-items: center;
  margin: auto;
  background-color: rgb(27, 27, 27);
  border-style: solid;
  display: flex;
  flex-direction: column;
  color: white;
  border-color: black;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.input-contacts {
  width: 95%;
}

.input-contacts-big {
  width: 95%;
  height: 200px;
  margin-bottom: 30px;
}

.button-contacts {
  width: 100px;
  height: 40px;
  font-size: 120%;
}

.button-contacts:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
--- DOCUMENTATION ---
*/

.container-documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-documentation {
  height: 40px;
  margin-bottom: 10px;
}