body {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(52, 52, 52));

}

div {
    justify-content: center;
    display: flex;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
}

h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

a:visited { 
    text-decoration: none; 
    color: rgb(255, 255, 255); 
}

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.768) 1px 0 10px;
    text-decoration-color: rgb(255, 255, 255);
}

/*
-------- HOMEPAGE HEADERS --------
*/

.nav-stereohut {
    display: flex;
    background-image: linear-gradient(rgb(255, 88, 66), rgb(255, 51, 51));
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 53, 53);
    margin-bottom: 20px;
    border-style: solid;
    width: 100%;
}

.logo {
    height: 43px;
    width: 400px;
}

/*
-------- DROPDOWN BUTTON --------
*/

/* Code for dropdown menu: https://www.w3schools.com/css/css_dropdowns.asp */

.dropdown-button {
    background-color: rgba(203, 39, 39, 0);
    border-style: solid;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    left: -6.4rem;
    bottom: -8.2rem;
}

.dropdown-menu a:hover {
    background-color: #5f5f5f37;
}
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(27, 27, 27);
    border-style: solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.768) 1px 0 10px;
    text-decoration-color: white;
}

.dropdown-text {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin: 0px;
}
  
.dropdown:hover .dropdown-button {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(0.9);
}

/*
-------- IMAGE WHEEL ---------
*/

.container-wheel {
    background-color: rgb(27, 27, 27);
    height: 200px;
    width: 100%;
    border-style: solid;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item-wheel {
    width: 300px;
    height: 180px;
    margin-top: 8px;
    margin-left: 20px;
}

/*
-------- FLEXBOX CATEGORIES --------
*/

/* Note: All external images are taken from Unsplash, which is a royalty-free library, meaning they are free for use. */

.container-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.item-buttons-universal {
    width: 49%;
    height: 100px;
    margin-bottom: 2%;
    background-image: linear-gradient(rgb(204, 203, 198), rgb(167, 167, 167));
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.item-vinyl {
    width: 49%;
    height: 100px;
    margin-bottom: 2%;
    background-image:url(https://images.unsplash.com/photo-1539375665275-f9de415ef9ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1778&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.item-vinyl:hover {transform: scale(0.98);}

.item-cd {
    width: 49%;
    height: 100px;
    margin-bottom: 2%;
    background-image:url(https://images.unsplash.com/photo-1606179026380-6eb739177496?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.item-cd:hover {transform: scale(0.98);}

.item-new-releases {
    width: 100%;
    height: 100px;
    margin-bottom: 2%;
    background-image:url(https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.item-new-releases:hover {transform: scale(0.98);}

.item-genres {
    width: 49%;
    height: 100px;
    margin-bottom: 2%;
    background-image:url(https://images.unsplash.com/photo-1623018035813-9cfb5b502e04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.item-genres:hover {transform: scale(0.98);}

.item-equipment {
    width: 49%;
    height: 100px;
    margin-bottom: 2%;
    background-image:url(https://images.unsplash.com/photo-1609702847389-b8aec1b0b929?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1863&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.item-equipment:hover {transform: scale(0.98);}

.item:nth-child(3n) {
    width: 100%;
}

/*
-------- TOOLTIPS --------
*/

/* Here I learned about [data-msg] as well as other neat techniques from a YouTube tutorial showing how to create popups within your items.
Link: https://www.youtube.com/watch?v=4g0wymuE2Kg&ab_channel=CodinginPublic */

.category-info {
    margin-left: 10px;
    padding: 0.1rem;
    border: none;
    color: black;
}

.category-info > img {
    height: 1rem;
    width: 1rem;
    border: none;
    color: white;;
}

[data-msg] {
    position: relative;
    margin-left: 10px;
    background-color: white;
    border-style: solid;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    line-height: 20px;
    cursor: pointer;

}

[data-msg]:focus:before, [data-msg]:hover::before {
    position: absolute;
    width: 100%;
    min-width: 200px;
    background-color: white;
    padding: 20px;
    content: attr(data-msg);
    left: 50%;
    transform: translate(-50%, -100%);
    top: -20px;
    border-radius: 15px;
}

[data-msg]:focus:after, [data-msg]:hover::after {
    content: '';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

/*
-------- CONTACT INFORMATION (FOOTER) --------
*/

.div-footer {
    background-color: rgb(27, 27, 27);
    height: auto;
    margin-top: 35px;
    padding-bottom: 20px;
    padding-inline: 20px;
    border-style: solid;
    display: block;
    width: auto;
}

.header-footer {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
}

.text-footer {
    background-color: rgba(167, 167, 167, 0);
    margin: -2rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    height: 20px;
}

.container-footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 0, 0, 0);
    height: 300px;
}
  
.item-footer {
    flex-grow: 1;
    height: 170px;
    background-color: rgba(127, 255, 212, 0);
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    display: block;
    margin-top: -40px;
}
  
.item-footer + .item-footer {
    margin-left: 2%;
}

.payment-information {
    margin-bottom: 20px;
    margin-top: -30px;
}

.established-info {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80%;
}       